
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: #f2f5ff;
}
/* Nav header */
header{
    width: 100%;
    height: 50px;
    background-color: #f2f5ff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    position:fixed;
    z-index: 100;
}
header .logo{
    font-size: 15px;
    color: #363636;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    
}
header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    list-style: none;
    padding-left: 20px;
}

header nav ul li a{
    color: #3d3d3d;
    text-decoration: none;
}

/* hero section */

    .hero {background: url("../images/undraw_Landing_page_re_6xev.png") no-repeat;
       
       
      
      }

.hero{
    width: 100%;
    padding: 160px 20px;
   background-image: linear-gradient(80deg, rgba(254, 254, 255, 0.5)0%, rgba(101, 97, 97, 0.5)100%),  url(../images/undraw_Contract_re_ves9.png);
    position: relative;
    color: #363636;
    text-align: center;
    font-size: 15px;
    
}
.hero-left-content h1{
    font-size: 12px;
    border-bottom: 5px solid teal wavy;
}
.hero-left-content h2{
    font-size: 24px;
    padding: 6px 0;
    color: rgb(0, 0, 15);
}
.hero-left-content p{
    padding: 4px 35px 0 0;
}

.hero .socials{
    position: absolute;
    top: 0;
    right: 0;
    margin: 100px 20px;
    width: 40px;
    padding: 10px 0;
    background-color: teal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.socials ul li{
    list-style: none;
    margin-bottom: 8px;
}

.socials ul li:last-child{
    margin-bottom: 0px;
}
.socials img{
    width: 20px;
}

/* Potfolio */
.potfolio{
    width: 100%;
    padding: 50px 20px;
}
.project-card{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}
.project-image{
    width: 100%;
    border-radius: 10px;
}
.project-image img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.261);
    
}
.project-content{
    margin-top: 20px;
}

.technologies{
    margin-top: 20px;
}
.technologies ul{
    display: flex;
}
.technologies ul li{
    margin-right: 10px;
    list-style: none;
     font-size: 10px;
     background-color: #00000022;
     padding: 4px;
     border-radius: 3px;
}
.button{
    margin-top: 20px;
    padding: 8px;
    border: none;
    background-color: teal;
    color:#fff;
    border-radius: 6px;
    cursor: pointer;
}


/* About */
.about{
    width: 100%;
    padding: 50px 20px;
    background-color: #eee;
}
.about-content{
    padding: 8px 0;
}

.about-image{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.about-image img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.261);
}
.about-button{
    margin: 20px;
    padding: 8px;
    border: none;
    background-color: teal;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

/* contact */
.contact{
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    margin-top: 50px;
    border-top-left-radius: 70px;
}
.contact-details h2{
    padding: 8px;
}

.contact-details ul li{
    list-style: none;
    padding: 4px 0;
}
.contact form{
    margin-top: 30px;
    background-image: linear-gradient(80deg, rgba(112, 112, 118, 0.5)0%, rgba(101, 97, 97, 0.5)100%),  url(../images/undraw_Landing_page_re_6xev.png);
    border-radius: 10px;
    padding: 20px;
}
.form-controls{
    margin-bottom: 10px;
}
.form-controls label,
.form-controls input,
.form-controls textarea{
    display: block;
    width: 100%;
    color: #363636
}
.form-controls input,
.form-controls textarea{
    border-radius: 5px;
    border: none;
    padding: 7px 8px;
    margin-top: 3px;
}
.contact-button{
    margin-top:  20px;
    padding: 8px;
    border: none;
    color: rgb(77, 52, 5);
    border-radius: 6px;
    cursor:pointer
}
/* end of contact */

/* Footer */
footer{
    width: 100%;
    padding: 5px 0;
    background-color: #ccc;
    text-align: center;
}
footer {
  
    color: #fff;
    background-color: #171616;
}
footer p{
    font-size: 10px;
}
/* Media query styles for desktop screen */
@media(min-width: 900px){
    /* Body */
    body{
        font-size: 15px;
    }
    h2{
        font-size: 30px;
    }
    /* Header styles */
    header{
        height: 60px;
        padding: 15px 100px;
    }
    .hero{
        padding: 200px 100px;
    }
    /* Soocials style */
    .hero .socials{
        margin: 200px 100px;
    }
    .hero h1{
        font-size: 16px;
    }
    .hero h2{
        font-size: 45px;
    }
    .hero h3{
        font-size: 18px;
    }
    /* Potfolio */
.potfolio{
    padding: 80px 100px;
}
.project-card{
    margin-top: 40px;
    padding: 15px;
    display: flex;
}
.project-image{
    width: 50%;
    
    margin-right: 30px;
}
.project-content{
    width: 50%;
    margin-top: 0;
}
.project-content p{
    margin-top: 8px;
}


.button{
    
    padding: 8px 30px;
}
/* About */
.about{
    padding: 80px 100px;
    display: flex;
}
.about-content{
   width: 50%;
   margin-right: 30px;
}
.about-image{
    width: 50%;
}
.about-button{
    padding: 8px 30px;
}
/* contact */
.contact{
    
    padding: 80px 100px;
    
    
    
}  

.contact-details{
    width: 40%;
}
.contact form{
    width: 100%;
    
}
.form-controls{
    margin-bottom: 10px;
}


.contact-button{
    padding: 8px 30px;
}
/* footer .content{
    display: block;
}

}
.cntent .socials ul li{
    display: inline-block;
} */








